<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=200px, initial-scale=0.5">
    <title>Straight Truth News</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Straight Truth News</h1>
        <p>No More Left vs Right: News For The People</p>
    </div>
</header>

<nav>
    <div class="container">
        <a href="../../index.html">News</a>
        <a href="../../bschecker/index.html">BS-Checker</a>
        <a href="../../about/index.html">About</a>
    </div>
</nav>

<section class="article">
    <div class="container">
        <h2>Title</h2>
        <p class="date">Published: March 5, 2025</p><br>
        
        <p>
            Text from source 1.[1]
        </p>

        <p>
            Text from source 3.[3]
        </p>

      <br>
      
        <h3>Header 2</h3>
        <p>
            Text from source 4.[4]
        </p>

        <blockquote>
            "Quote"  
            — Political Analyst John Doe[5]
        </blockquote>

        <p>
            Ending
        </p>

      <br>
      
        <h3>Sources</h3>
        <ol class="sources">
            <li><a href="https://example.com/source1" target="_blank">placeholder</a></li>
            <li><a href="https://example.com/source2" target="_blank">placeholder</a></li>
            <li><a href="https://example.com/source3" target="_blank">placeholder</a></li>
            <li><a href="https://example.com/source4" target="_blank">placeholder</a></li>
            <li><a href="https://example.com/source5" target="_blank">placeholder</a></li>
        </ol>
    </div>
</section>

<footer>
    <div class="container">
        <p>Straight Truth News - For We the People.</p>
        <p>Email: oppositeofmedicinerecords@gmail.com</p>
    </div>
</footer>

</body>
</html>
